extends layout 
block content 
    h1 Modifier un livre 
    form(action=`/books/${book.id}/edit`, method="post")
        input(type="text" id="name" name="name" placeholder=`${book.name}`) 
        input(type="text" id="author" name="author" placeholder=`${book.author}`) 
        input(type="number" id="pages" name="pages" placeholder=`${book.pages}`) 
        input(type="text" id="category" name="category" placeholder=`${book.category}`)
        button(type="submit") Mis a jour